html
	head
		title Add User
	body
		.nav
			ul
				li.home
						a(href='/') Home
				li.search
						a.active(href='search') Search
			h1 Sign up now!
			form(action="/adduser" method="post")
				div.input
				span.label
				p Firstname
				input(type="text", name="firstname")
				p Lastname
				input(type="text", name="lastname")
				p Email
				input(type="text", name="email")
				div.actions
				input(type="submit", value="submit")

