html
	head
		title Add User
	body
		.nav
			ul
				li.home
						a(href='/') Home
				li.search
						a.active(href='search') Search
				li.sign-up
						a(href='userCreate') Sign up
			h1 Sign up now!
			form(action="/" method="Post")
				div.input
				span.label
				p Firstname
				input(type="text", name="firstname")
				p Lastname

