htnml
	head
		title Search User
	body
		h1 Search User
		form(method='POST', action='/search')
			p Search Name:
				input(type='text', name='searchQuery', value='Viktor')
			p
				input(type='submit', value='Search')
